<table  style="width: 100%;">
    <tr>
        <th style="width: 45%;">Available</th>
        <th style="width: 10%;"></th>
        <th style="width: 45%;"></th>
    </tr>
    <tr>
        <th><input class="form-control" ng-model="searchText" placeholder="Filter"/></th>
        <th></th>
        <th>Selected</th>
    </tr>
    <tr>
        <td>
            <select multiple class="form-control">
                <option ng-repeat="item in availableItems | filter:filterSelected |filter:search" ng-dblclick="select(item)">{{item | extrapolateDataValue:selectView}}</option>
            </select>
        </td>
        <td></td>
        <td>
            <select multiple class="form-control">
                <option ng-repeat="item in ngModel" ng-dblclick="removeSelection(item)">{{item | extrapolateDataValue:selectView}}</option>
            </select>
        </td>
    </tr>
</table>